<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Package</title>
    <style>
      .testimonial {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0
      }
      
      .testimonial::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .testimonial img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
      }
      
      .testimonial span {
        font-size: 20px;
        margin-right: 15px;
      }
      
      @media (max-width: 500px) {
        .testimonial {
            text-align: center;
        }
        .testimonial img {
            margin: auto;
            float: none;
            display: block;
        }
      }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">KERALABLISS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/rooms">Package</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="/loginPage">Log In</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="/registerPage">Register</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="/admin">Admin</a></button>
          </form>
        </div>
      </nav>
      
    <center><h1>KERALABLISS</h1></center>

    <div class="container">
      <div class="image">
        <img src="/static/ta.jpg" style="width:600px;height:350px;float:left;margin-right:10px">
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>PATHMANABHA TEMPLE</h1>
          Thiruvananthapuram is located on the west coast of India near the extreme south of the mainland. Referred by Mahatma Gandhi as the “Evergreen city of India”,the city is characterised by its undulating terrain of low coastal hills. The city is classified as a Tier-II city by the government of India.
          <center><p><b>₹ 1,500</b> per person<br>
            <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br><br><br><br><br>
        </p>
      </div>
      <div class="image">
        <img src="/static/dam.jpeg" style="width:600px;height:350px;float:left;margin-right:10px">
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>IDUKKI DAM</h1>
          The Idukki Dam, located in Kerala, India, is a 168.91 m (554 ft) tall arch dam. The dam stands between the two mountains – Kuravanmala (839)m and Kurathimala (925)m. 
								It was constructed and is owned by the Kerala State Electricity Board. It supports a 780 MW hydroelectric power station.
          <center><p><b>₹ 1,500</b> per person<br>
            <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br><br><br><br><br>
        </p>
      </div>
      <div class="image">
        <img src="/static/J.jpg" style="width:600px;height:350px;float:left;margin-right:10px">
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>ATHIRAPPILLY FALLS</h1>
          Athirappilly Falls, is situated in Athirappilly Panchayat, Chalakudy Taluk, Thrissur District of Kerala,
									India on the Chalakudy River, which originates from the upper reaches of the Western Ghats at the entrance to the Sholayar ranges.It is the largest waterfall in Kerala, which stands tall at 80 feet.
          <center><p><b>₹ 1,500</b> per person<br>
            <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br><br><br><br><br>
        </p>
      </div>
      <div class="image">
        <img src="/static/mus.jpg" style="width:600px;height:350px;float:left;margin-right:10px">
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>NAPIER MUSEUM</h1>
          The Napier Museum is an art and natural history museum situated in Thiruvananthapuram, India. The Museum is grounds to the Trivandrum Zoo, one of the oldest zoological gardens in India. The zoo was established in 1857 over 55 acres (220,000 m2) of land.
          <center><p><b>₹ 1,500</b> per person<br>
            <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
            <br><br><br><br><br><br><br>
        </p>
      </div>
    

    <div class="image">
      <img src="/static/indo.jpg" style="width:600px;height:350px;float:left;margin-right:10px">
    </div>
    <div class="text">
      <p vertical-align:"top">
        <h1>INDO-PORTUGUESE MUSEUM</h1>
        The Indo-Portuguese Museum, located within the premises of the Bishop's House, displays various artefacts collected from different churches. The museum, preserves the rich heritage of Indo-Portuguese culture, art and architecture in Kerala.
        <center><p><b>₹ 1,500</b> per person<br>
          <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br><br><br><br><br>
      </p>
    </div>
    <div class="image">
      <img src="/static/boat.jpg" style="width:600px;height:350px;float:left;margin-right:10px">
    </div>
    <div class="text">
      <p vertical-align:"top">
        <h1>JCT HOUSEBOAT</h1>
        JCT Houseboat in Alleppey offers a pleasant stay with excellent facilities and friendly staff. Guests enjoyed the premium rooms with attached bathrooms and 24-hour AC.
									The food served was delicious, with both vegetarian and non-vegetarian options.
        <center><p><b>₹ 1,500</b> per night<br>
          <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br><br><br><br><br>
      </p>
    </div>
    <div class="image">
      <img src="/static/bekal.jpg" style="width:600px;height:350px;float:left;margin-right:10px">
    </div>
    <div class="text">
      <p vertical-align:"top">
        <h1>BEKAL FORT</h1>
        Located on the west of the Malabar coastline, Bekal is a small town in the Kasargod district of Kerala. It is famous for its beaches, backwaters, forts and some tourists spots. Bekal is home to the largest fortress in Kerala. It's one of the primary landmarks of Kasargod district.
        <center><p><b>₹ 1,500</b> per person<br>
          <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          </p></center>
          <br><br><br><br><br><br><br>
      </p>
    </div>
  </div>
    
    </div>

    <div class="testimonial">
      <p><span>KERALABLISS</span> © KERALABLISS 2022. All Rights Reserved.</p>
      <p><h3>Follow Us</h3></p>
      <a href="mailto:keralabliss@gmail.com"><img src="/static/gmail.png" alt="Avatar" style="width:100px">
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>